<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contacts">Contacts</a></li>
        </ul>
    </nav>
    <h1>Hi</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos adipisci tempora eos distinctio ipsam sint ex earum, quia et illo nam temporibus impedit quo. Necessitatibus ipsam ratione delectus animi cumque?</p>
    <script>
        // alert(1)
    </script>
</body>
</html>